<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 dir="ltr" class="no-js">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="footer">
       <section class="footer-top-area pt-70 pb-30 pos-r bg-blue">
            <div class="container">
                <div class="row row-tb-20">
                    <div class="col-sm-12 col-md-7">
                        <div class="row row-tb-20">
                            <div class="footer-col col-sm-6">
                                <div class="footer-about">
                                    <img class="mb-40" src="assets/images/logo_new.png" width="250" alt="">
                                    <p class="color-light">
                                                                                Pikupons.com brings you everyday the most original promotions at bestial prices.</p>

                                </div>
                            </div>
               <!--              <div class="footer-col col-sm-6">
                                <div class="footer-top-twitter">
                                    <h2 class="color-lighter">Twitter Feed</h2>
                                    <ul class="twitter-list">
                                        <li class="single-twitter">
                                            <p class="color-light"><i class="ico fa fa-twitter"></i><a href="#">@masum_rana :</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore in reprehenderit.</p>
                                        </li>
                                        <li class="single-twitter">
                                            <p class="color-light"><i class="ico fa fa-twitter"></i><a href="#">@masum_rana :</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione id corrupti iusto cupiditate omnis.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="row row-tb-20">
                            <div class="footer-col col-sm-6">
                                <div class="footer-links">
                                    <h2 class="color-lighter">Quick Links</h2>
                                    <ul>
                                        <li><a th:href="@{all_deals_list}">Newest Coupons</a>
                                        </li>
                                        <li><a th:href="@{contact_us_01}">Contact Us</a>
                                        </li>
                                        <li><a th:href="@{terms_conditions}">Terms of Use</a>
                                        </li>
                                        <li><a th:href="@{faq}">FAQs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-col col-sm-6">
                                <div class="footer-top-instagram instagram-widget">
                                    <h2>Share with friends</h2>
                                    <div class="row row-tb-5 row-rl-5">


                                        <div class="instagram-widget__item col-xs-4">
                                            <li class="social-icons__item">
                                                        <a href="#"><i class="fa fa-facebook" style="font-size:40px;"></i></a>
                                                    </li>

                                        </div>


                                        <div class="instagram-widget__item col-xs-4"> <li class="social-icons__item">
                                                        <a href="#"><i class="fa fa-twitter" style="font-size:40px;"></i></a>
                                                    </li>
                                        </div>


                                        <div class="instagram-widget__item col-xs-4">
      <li class="social-icons__item">
                                      
                                         <a href="#"><i class="fa fa-pinterest" style="font-size:40px;"></i></a>
                                                </li>    
                                        </div>


                                        <div class="instagram-widget__item col-xs-4" >
      <li class="social-icons__item">
                                      <a href="#">
                                            <i class="fa fa-linkedin" style="font-size:40px;"></i></a>
                                                    </li>
                                        </div>


                                        <div class="instagram-widget__item col-xs-4"> 
<li class="social-icons__item">
                                            <a href="#"><i class="fa fa-google-plus" style="font-size:40px;"></i></a>
                                                    </li>

                                        </div>


                                        <div class="instagram-widget__item col-xs-4">
                                   <li class="social-icons__item">
                                            <a href="#"><i class="fa fa-odnoklassniki" style="font-size:40px;"></i></a>
                                                    </li>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="payment-methods t-center">
                            <span><img src="assets/images/icons/payment/paypal.jpg" alt=""></span>
                            <span><img src="assets/images/icons/payment/visa.jpg" alt=""></span>
                            <span><img src="assets/images/icons/payment/mastercard.jpg" alt=""></span>
                            <span><img src="assets/images/icons/payment/discover.jpg" alt=""></span>
                            <span><img src="assets/images/icons/payment/american.jpg" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- –––––––––––––––[ FOOTER ]––––––––––––––– -->
        <footer id="mainFooter" class="main-footer">
            <div class="container">
                <div class="row">
                    <p>Copyright &copy; 2019 . All rights reserved.</p>
                </div>
            </div>
        </footer>
        
        </div>
</body>
</html>